body {
    font-family: arial, sans-serif;
    color:rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    background-color: #000000e7;
    background-size: cover;
    text-align: justify;
    background-repeat: no-repeat;
}
header{
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    width: 100%;
    z-index: 1000;
    color: #ffffff;
    font-family:monospace;
    padding: 0.5%;
    background-image: url('recursos/ff.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
main{
    margin-top: 100px;
    color:#ffffff;
    background-color:#000000e0;
    padding:0.5%;
    text-align: justify;
}
button{
    padding:5px 20px;
    background-color:#22285e;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.5s;  
   }
   button:hover{
    background-color: #5f7fbbec;
    color: rgb(0, 0, 0);
   }
   h2{
    color:#96a1f3
   }
